---
title: Calgary Guide App
---

{% include header.html %}

{% include jumbotron.html %}

<div class="container mb-5">
	<div class="row">

		{% include cgsidebar.html %}

		<div class="col-md-9">
			<h2>The Calgary Guide App</h2>
			<hr />
			<div class="alert alert-warning mt-2">
				<p class="mb-0">Unfortunately, due to recent changes with the App Store terms of service, the iOS version of the Calgary Guide app is not permitted to display any content pertaining to the ongoing COVID-19 pandemic. This means that these slides will be inaccessible in the iOS version of the app for the time being. The Android version of the app continues to contain the complete Calgary Guide content.</p>
			</div>
			<p>Created by Dr. Yan Yu, The Calgary Guide is an internationally respected medical learning reference. A mobile app, developed by David Olmstead, is now available to the public.</p>
			<h4>Installation Instructions</h4>
				<p>The Calgary Guide app is now available to the public!</p>
				<h6>iOS</h6>
					<p>Download the iOS app on the App Store by clicking the link in the sidebar or below.</p>
					<div class="d-md-none row justify-content-center"><a href="https://itunes.apple.com/ca/app/the-calgary-guide/id1453253612?mt=8"><img src="https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-04-08&kind=iossoftware&bubble=ios_apps" width="150" /></a></div>
				<h6>Android</h6>
					<p>Download the Android app on the Google Play Store by clicking the link in the sidebar or below.</p>
					<div class="d-md-none row justify-content-center"><a href='https://play.google.com/store/apps/details?id=ca.davidolmstead.thecalgaryguide&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img class="img-fluid" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="170" /></a></div>
<!--
			<h4>Phase I</h4>
			<p>The early stages of this project aim to produce a working proof-of-concept mobile application to display cached, offline content from The Calgary Guide. For this early release, the application is only currently planned to be available on the Android platform.</p>
			<div class="alert alert-info"><p class="mb-0"><strong>Timeline:</strong> Open beta now available.</p></div>
			<h4>Phase II</h4>
			<p>Analytics will be collected in a similar fashion to the current system used on the Calgary Guide website. The Android application will be released as a public beta, and work will start on the iOS version</p>
			<div class="alert alert-info"><p class="mb-0"><strong>Timeline:</strong> Early 2019</p></div>
-->
<!--
			<h4>Screenshots</h4>
			<div class="row">
				<div class="col-md-6">
					<!-- Android Screenshots ->
					<div id="android_screenshots" class="carousel slide w-50 mb-3" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#android_screenshots" data-slide-to="0" class="active"></li>
							<li data-target="#android_screenshots" data-slide-to="1"></li>
							<li data-target="#android_screenshots" data-slide-to="2"></li>
							<li data-target="#android_screenshots" data-slide-to="3"></li>
							<li data-target="#android_screenshots" data-slide-to="4"></li>
							<li data-target="#android_screenshots" data-slide-to="5"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100" src="img/cg_screenshots/android_1.png" alt="Screenshot 1">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="img/cg_screenshots/android_2.png" alt="Screenshot 2">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="img/cg_screenshots/android_3.png" alt="Screenshot 3">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="img/cg_screenshots/android_4.png" alt="Screenshot 4">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="img/cg_screenshots/android_5.png" alt="Screenshot 5">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="img/cg_screenshots/android_6.png" alt="Screenshot 6">
							</div>
						</div>
						<a class="carousel-control-prev" href="#android_screenshots" role="button" data-slide="prev">
							<span class="oi oi-chevron-left text-dark" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#android_screenshots" role="button" data-slide="next">
							<span class="oi oi-chevron-right text-dark" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<!-- iOS Screenshots ->
					<div id="ios_screenshots" class="carousel slide w-50 mb-3" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#ios_screenshots" data-slide-to="0" class="active"></li>
							<li data-target="#ios_screenshots" data-slide-to="1"></li>
							<li data-target="#ios_screenshots" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100" src="img/cg_screenshots/ios_1.png" alt="Screenshot 1">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="img/cg_screenshots/ios_2.png" alt="Screenshot 2">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100" src="img/cg_screenshots/ios_3.png" alt="Screenshot 3">
							</div>
						</div>
						<a class="carousel-control-prev" href="#ios_screenshots" role="button" data-slide="prev">
							<span class="oi oi-chevron-left text-dark" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#ios_screenshots" role="button" data-slide="next">
							<span class="oi oi-chevron-right text-dark" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
-->

			<h4>Project Updates</h4>
			<div class="alert alert-success mt-2">
				<h6 class="alert-heading">7 Apr 2019</h6>
				<p class="mb-0">Full app release is now available for iOS and Android.</p>
			</div>
			<div class="alert alert-success mt-2">
				<h6 class="alert-heading">15 Feb 2019</h6>
				<p class="mb-0">Initial public beta release of the completely-redesigned, cross-platform app.</p>
			</div>
			<div class="alert alert-secondary mt-2">
				<a data-toggle="collapse" href="#hidden"><h6 class="alert-heading text-center mb-0">More</h6></a>
			</div>
			<div class="container collapse" id="hidden">
				<div class="alert alert-success mt-2">
					<h6 class="alert-heading">29 Nov 2018</h6>
					<p class="mb-0">Nothing new to report. Project development still underway for early 2019 iOS beta release.</p>
				</div>
				<div class="alert alert-success mt-2">
					<h6 class="alert-heading">29 Aug 2018</h6>
					<p class="mb-0">Open beta now available.</p>
				</div>
				<div class="alert alert-success mt-2">
					<h6 class="alert-heading">7 May 2018</h6>
					<p class="mb-0">The android test app now has the complete English Calgary Guide.</p>
				</div>
				<div class="alert alert-success mt-2">
					<h6 class="alert-heading">25 Apr 2018</h6>
					<p class="mb-0">Early iOS development started.</p>
				</div>
				<div class="alert alert-success mt-2">
					<h6 class="alert-heading">10 Apr 2018</h6>
					<p class="mb-0">Open recruitment of alpha testers started.</p>
				</div>
				<div class="alert alert-success mt-2">
					<h6 class="alert-heading">27 Feb 2018</h6>
					<p class="mb-0">Closed alpha release available.</p>
				</div>
				<div class="alert alert-success mt-2">
					<h6 class="alert-heading">15 Feb 2018</h6>
					<p class="mb-0">Stage I release date moved to spring 2018.</p>
				</div>
				<div class="alert alert-success mt-2">
					<h6 class="alert-heading">26 Jan 2018</h6>
					<p class="mb-0">Project is in early alpha. A public release is not yet available.</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% include footer.html %}
