---
title: The Calgary Guide App
---

{% include header.html %}

{% include jumbotron.html %}
	
<div class="container mb-3">
	<div class="row">
			
    	{% include sidebar.html %}
            
		<div class="col-md-9">
			<h2>The Calgary Guide App</h2>
			<p>The internationally-respected medical reference is preparing to launch a mobile application.</p>
			<h4>Phase I</h4>
			<p>The early stages of this project aim to produce a working proof-of-concept mobile application to display cached, offline content from The Calgary Guide. For this early release, the application is only currently planned to be available on the Android platform.</p>
			<strong>Project Updates</strong>
			<div class="alert alert-success mt-2">
				<h6 class="alert-heading">26 Jan 2018</h6>
				<p class="mb-0">Project is in early alpha. A public release is not yet available.</p>
			</div>
			<div class="alert alert-warning">
				<p class="mb-0">This website is under construction.</p>
			</div>
		</div>
	</div>
</div>
	
{% include footer.html %}