---
title: David Olmstead
---

{% include header.html %}

{% include jumbotron.html %}

<div class="container mb-3">
	<div class="row">

    	<!--{% include sidebar.html %}-->

		<div class="col-md">
			<h2>Welcome.</h2>
			<hr />
			<p>David Olmstead is a critical care nurse, programmer and embedded electronics developer with a special interest in building innovative healthcare technologies. He is pursuing residency training with the University of British Columbia.</p>
			<p>Email <a href="mailto:info@davidolmstead.ca">info@davidolmstead.ca</a> for more information.</p>
		</div>
	</div>
</div>

{% include footer.html %}
