---
title: David Olmstead
---

{% include header.html %}

{% include jumbotron.html %}

<div class="container mb-3">
	<div class="row">

    	{% include sidebar.html %}

		<div class="col-md-9">
			<h2>Welcome.</h2>
			<p>David Olmstead is a critical care nurse, programmer and embedded electronics developer with a special interest in building innovative healthcare technologies. He is presently undertaking medical training at the University of Calgary.</p>
		</div>
	</div>
</div>

{% include footer.html %}
