---
title: Logbook | David Olmstead
---

{% include header.html %}

{% include jumbotron.html %}

<div class="container mb-5">
	<div class="row">

		<div class="col-md">
			<h2>Anesthesia Procedure/Case Logbook</h2>
			<hr />
			<p>Currently under development, this will be a simple web application to enable anaesthesia learners to keep track of cases and procedures. It will be a secure, efficient and mobile-friendly tool.</p>
            <p>The project is currently in early development and when a beta becomes available, it will be found here.</p>
			<div id="lbCarousel" class="carousel slide mb-2" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="img/lb_screenshots/scr0.png" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="img/lb_screenshots/scr1.png" class="d-block w-100">
					</div>
					<div class="carousel-item">
						<img src="img/lb_screenshots/scr2.png" class="d-block w-100">
					</div>
				</div>
				<a class="carousel-control-prev" href="#lbCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#lbCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
        </div>
	</div>
</div>
</div>

{% include footer.html %}
