<div class="col-md-3 bg-light d-none d-md-block pt-2">
    <h6>Project Status</h6>
    <div class="alert alert-success mt-2">
      <h6 class="alert-heading">Android</h6>
      <p class="mb-0">Version Code:</p>
      <h2>0.1.2</h2>
      <p class="mb-0">Now available on the Google Play Store.</p>
      <p class="mb-0 mt-2"><a href='https://play.google.com/store/apps/details?id=ca.davidolmstead.thecalgaryguide&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="170" class="d-block mx-auto" /></a></p>
    </div>
    <div class="alert alert-success mt-2">
      <h6 class="alert-heading">iOS</h6>
      <p class="mb-0">Version Code:</p>
      <h2>0.1.2</h2>
      <p class="mb-0">Now available on the App Store.</p>
      <p class="mb-2 mt-3"><a href="https://itunes.apple.com/ca/app/the-calgary-guide/id1453253612?mt=8"><img src="https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-04-08&kind=iossoftware&bubble=ios_apps" width="150" class="d-block mx-auto"></a></p>
    </div>
</div>
