<div class="col-md-3 bg-light d-none d-md-block pt-2">
    <h6>Project Status</h6>
    <div class="alert alert-success mt-2">
      <h6 class="alert-heading">Android</h6>
      <p class="mb-0">Version Code:</p>
      <h2>0.2a</h2>
      <p class="mb-0">Closed alpha release available. Contact <a href="mailto:david.olmstead1@ucalgary.ca">david.olmstead1@ucalgary.ca</a> to become a tester.</p>
    </div>
    <div class="alert alert-danger mt-2">
      <h6 class="alert-heading">iOS</h6>
      <p class="mb-0">Version Code:</p>
      <h2>0.1a</h2>
      <p class="mb-0">Alpha not available for testing.</p>
    </div>
</div>
