<!doctype html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom meta tags -->
  <meta name="author" content="David Olmstead">
  <meta name="description" content="The personal website of David Olmstead.">
  <meta name="keywords" content="David Olmstead, David, Olmstead">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49239104-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-49239104-2');
  </script>

</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if page.title == 'David Olmstead' %} active {% endif %}">
          <a class = "nav-link" href="index.html">Home</a>
        </li>
        <!--
        <li class="nav-item {% if page.title == 'Projects | David Olmstead' %} active {% endif %}">
          <a class="nav-link" href="#">Projects</a>
        </li>
      -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">The Calgary Guide App</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="calgaryguideapp.html">The Calgary Guide App</a>
          <a class="dropdown-item" href="cgprivacypolicy.html">Privacy Policy</a>
        </div>
      </li>
        <!--
        <li class="nav-item {% if page.title == 'Contact | David Olmstead' %} active {% endif %}">
          <a class="nav-link" href="#">Contact</a>
        </li>
      -->
      </ul>
    </div>
  </nav>
