	<div class="jumbotron jumbotron-fluid" id="bannerimg">
		<div class="container">
			<h1 class="display-4 text-white">David Olmstead</h1>
			<p class="lead text-white">B.Sc.(N)., R.N., M.D.</p>
		</div>
	</div>

	<!--
	<div class='jumbotron jumbotron-fluid bg-warning py-1'>
		<div class='container'>
			<div class='row d-flex align-items-center'>
				<div class='col-md-3 d-flex align-items-center justify-content-end'>
					<i data-feather='info'></i>
				</div>
				<div class='col-md-9'>
					<p class='mb-0'>Pandemics are scary. Accurate information is important. In Alberta, you can get up-to-date information about the COVID19 pandemic by going to <a href='http://ahs.ca/covid'>http://ahs.ca/covid</a>.</p>
				</div>
			</div>
		</div>
	</div>
	-->
